<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="SeleniumTest" parallel="false">
    <test name="SeleniumTestCase">
        <classes>
         <class name="org.qiyanfei.SeleniumTest.Testngcase1"/>
         <class name="org.qiyanfei.SeleniumTest.SeleniumTest"/>
         <class name="org.qiyanfei.SeleniumTest.SeleniumTestCase1"/>

        </classes>
    </test>
</suite>
